* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/asset/shopCartBg.jpg);
    background-size: cover;
    color: whitesmoke;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

.mainCart {
    background-color: rgba(120, 110, 166, 0.589);
    width: 250px;
    padding: 1rem;
    border-radius: 10px;
}

div > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: auto;
}

.priceDiv {
    margin-top: 3rem;

}

.priceDiv > h2 {
    padding: 0.5rem 0;
    font-size: 18px;
}

.mainContainer {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.tagPrice {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 22px;
}

.shop {
    color: black;
    background-color: azure;
    padding: 0.5rem;
    border-radius: 20px;

    width: 150px;

    display: flex;
    justify-content: center;
    position: absolute;
    top: 180px

}

.shop:hover {
    background-color: rgba(0, 255, 255, 0.801);
    border: 2px solid rgb(28, 4, 96);
}

.imgDesert {
    position: relative;
    display: flex;
    justify-content: center;
}

.shop.close {
    display: none;
    justify-content: space-around;
    flex-direction: row;
    background-color: brown;

}

